.container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
}

.dash-container .top-container {
    margin: 1%;
    padding: 1%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

.dash-container .bottom-container {
    margin: 1%;
    padding: 1%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

.acc-container .left-container {
    margin: 1%;
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.acc-container .right-container {
    margin: 1%;
    padding: 1%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.side-container {
    display: flex;
    height: 100%;
}

.item {
    display: flex;
}