.container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
}

.dash-container .top-container {
    margin: 1%;
    padding: 1%;
    height: 12%;
    display: flex;
    flex-direction: row;
}

.dash-container .bottom-container {
    margin: 1%;
    padding: 1%;
<<<<<<< HEAD
    height: 40%;
=======
    height: 50%;
>>>>>>> bce441e5b0b565e1744b026597e960e6a8b2a1e1
    display: flex;
    flex-direction: row;
}

.acc-container {
    display: flex;
}

.acc-container .left-container {
    width: 80%;
}

.acc-container .right-container {
<<<<<<< HEAD
    width: 20%;
=======
    width: 80%;
}

.comp-container {
    display: flex;
}

.comp-container .left-container {
    width: 40%;
>>>>>>> bce441e5b0b565e1744b026597e960e6a8b2a1e1
}

.comp-container .right-container {
    width: 40%;
}


.side-container {
    display: flex;
    height: 100%;
}

.item {
    display: flex;
}

.logo {
    width: 15%;
    height: 15%;
}