.container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
}

.dash-container .top-container {
    margin: 1%;
    padding: 1%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

.dash-container .bottom-container {
    margin: 1%;
    padding: 1%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.acc-container {
    display: flex;
}

.acc-container .left-container {
    width: 80%;
}

.acc-container .right-container {
    width: 80%;
}

.comp-container {
    display: flex;
}

.comp-container .left-container {
    width: 40%;
}

.comp-container .right-container {
    width: 40%;
}


.side-container {
    display: flex;
    height: 100%;
}

.item {
    display: flex;
}

.logo {
    width: 15%;
    height: 15%;
}